@model MonsterTransPredictor.Models.Application.Value.SkillSearchView
@{
    ViewBag.Title = "Skill Search";
}

<div class="row">
    @using(Html.BeginForm("SkillSearch", "Predict", FormMethod.Post, new { @class = "panel panel-info" }))
    {
        <div class="panel-heading lead">習得済みの技</div>
        <p class="help-block">※ドラッグ＆ドロップで順番変更可能</p>
        <ul class="list-group sortable">
            @foreach(var masteredSkillIdList in Model.masteredSkillIdList)
            {
                <li class="list-group-item">
                    @Html.DropDownListFor(_ => masteredSkillIdList, Model.skillNameList, new { @class = "form-control" })
                </li>
            }
        </ul>
        <div class="panel-heading lead">新規習得技</div>
        <div class="panel-body">
            @Html.DropDownListFor(Model => Model.addSkillId, Model.skillNameList, new { @class = "form-control" })
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary btn-lg">検索</button>
        </div>
    }
</div>